<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Transactions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="requestCount === 0">
        <div class="summary-section">
            <ion-item>
                <ion-label style="width: 100%; max-width:100%">Account</ion-label>
                <ion-select style="max-width:100%" [(ngModel)]="selectedAccount" (ngModelChange)="accountChange($event)">
                    <ion-option *ngFor="let account of allAccount" value="{{account}}">{{account}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label style="width: 100%; max-width:100%">Available Balance</ion-label>
                <!--{{selectedTransictionDetails.currency}}-->
                <ion-label style="width: 100%; max-width:100%" class="fa fa-inr"> {{selectedTransictionDetails.availablebalance | number:'.2-2'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>From</ion-label>
                <ion-datetime displayFormat="{{dateFormat}}" [(ngModel)]="filterdate.from"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>To</ion-label>
                <ion-datetime displayFormat="{{dateFormat}}" [(ngModel)]="filterdate.to"></ion-datetime>
            </ion-item>
            <button ion-button full (click)="applyFilter()">Apply Filter</button>
        </div>
        <div *ngIf="showTransaction">
            <div class="chart-section"></div>
            <div class="detail-section"></div>
            <ion-segment [(ngModel)]="transactionType">
                <ion-segment-button value="all" (click)="onTransactionTypeChange('all')">
                    All
                </ion-segment-button>
                <ion-segment-button value="Credit" (click)="onTransactionTypeChange('Credit')">
                    Credit
                </ion-segment-button>
                <ion-segment-button value="Debit" (click)="onTransactionTypeChange('Debit')">
                    Debit
                </ion-segment-button>
            </ion-segment>

            <div style="display: block">
                <canvas *ngIf="transactionType == 'all'" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                <canvas *ngIf="transactionType == 'Credit'" baseChart [data]="doughnutChartDataC" [labels]="doughnutChartLabelsC" [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                <canvas *ngIf="transactionType == 'Debit'" baseChart [data]="doughnutChartDataD" [labels]="doughnutChartLabelsD" [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div>
                <div class="each-tran" *ngFor="let eachTran of getTran()">

                    <div class="display-data">
                        <label>Category:</label>
                        <div>{{eachTran.category}}</div>
                    </div>
                    <!--
                    <ion-item>
                        <ion-label style="width: 100%; max-width:100%">Category</ion-label>
                        <ion-select *ngIf="eachTran.type == 'Credit'" style="max-width:100%" [(ngModel)]="eachTran.category">
                            <ion-option *ngFor="let cate of doughnutChartLabelsC" value="{{cate}}">{{cate}}</ion-option>
                        </ion-select>
                        <ion-select *ngIf="eachTran.type == 'Debit'" style="max-width:100%" [(ngModel)]="eachTran.category">
                            <ion-option *ngFor="let cate of doughnutChartLabelsD" value="{{cate}}">{{cate}}</ion-option>
                        </ion-select>
                    </ion-item>-->
                    <div class="display-data">
                        <label>Transaction Id:</label>
                        <div>{{eachTran.id}}</div>
                    </div>
                    <div class="display-data">
                        <label>Transaction Date:</label>
                        <div>{{eachTran.transactionDate | date : 'dd MMM yyyy, h:mm:ss a'}}</div>
                    </div>
                    <div class="display-data">
                        <label>Comment:</label>
                        <div>{{eachTran.comment}}</div>
                    </div>
                    <div class="display-data">
                        <label>Amount:</label>
                        <div class="fa fa-inr">{{eachTran.amount}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!showTransaction">
            <div class="no-transaction">
                No Transactions Found
            </div>
        </div>
    </div>
</ion-content>