<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Transactions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="requestCount === 0">
        <div class="summary-section">
            <ion-item>
                <ion-label style="width: 100%; max-width:100%">Account</ion-label>
                <ion-select style="max-width:100%" [(ngModel)]="selectedAccount" (ngModelChange)="accountChange($event)">
                    <ion-option *ngFor="let account of allAccount" value="{{account}}">{{account}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label style="width: 100%; max-width:100%">Available Balance</ion-label>
                <!--{{selectedTransictionDetails.currency}}-->
                <ion-label style="width: 100%; max-width:100%" class="fa fa-inr"> {{selectedTransictionDetails.availablebalance | number:'.2-2'}}</ion-label>
            </ion-item>
        </div>
        <div *ngIf="showTransaction">
            <div class="chart-section"></div>
            <div class="detail-section"></div>
            <ion-segment [(ngModel)]="transactionType">
                <ion-segment-button value="all">
                    All
                </ion-segment-button>
                <ion-segment-button value="credit">
                    Credit
                </ion-segment-button>
                <ion-segment-button value="debit">
                    Debit
                </ion-segment-button>
            </ion-segment>

            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <div *ngIf="!showTransaction">
        <ion-item>
            <ion-label style="width: 100%; max-width:100%">No Transaction Found</ion-label>
        </ion-item>
    </div>
</ion-content>