page-split-bill-detail {
  .scroll-content {
    background: #f8f8f8;
    padding: 0 !important;
  }
  .block {
    padding-left: 16px;
    margin: 16px 0;
    background: white;
    padding: 16px;
  }
  .user-info {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
    i {
      font-size: 30px;
    }
    img {
      height: 60px;
      width: 60px;
    }
    .name {
      padding-left: 10px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      p {
        margin: 0;
      }
      .c-name {
        font-size: 18px;
      }
      .c-num {
        font-size: 16px;
      }
    }
  }

  .name-icon {
    color: white;
    border-radius: 50%;
    padding: 14px;
  }

  .fa-check-circle {
    color: darken(#fff, 10%);
    &.check {
      color: green;
    }
  }
}
