page-recharge {
  .scroll-content {
    background-color: #F8F8F8;
  }

  ion-segment {
    margin-bottom: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  ion-card {
    background-color: #fff;
  }

  .user-info {
    display: flex;
    align-items: center;
    width: 100%;
    
    img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }

    .name {
      display: block;
      flex: 1;
    }
    .amt {
      width: 80px;
      background-color: lighten(#1166DD, 40%);
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
    }
  }
}
