<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="categories">
    <div class="box" *ngFor="let category of categories">
      <div class="box__p" (click)="detailsPage(category.page)">
        <img src="{{iconPath}}{{category.icon}}" />
        <div class="box--label">{{category.label}}</div>
      </div>
    </div>
  </div>

  <ion-list inset>
    <button ion-item *ngFor="let tab of tabMenus" (click)="setPage(tab.page)">
      {{ tab.label }}
    </button>
  </ion-list>

  <!-- <ion-tabs class="tabs-icon-text" [color]="isAndroid ? 'royal' : 'primary'">
    <ion-tab tabIcon="water" tabTitle="Water"></ion-tab>
    <ion-tab tabIcon="leaf" tabTitle="Life"></ion-tab>
    <ion-tab tabIcon="home" tabTitle="Home"></ion-tab>
    <ion-tab tabIcon="magnet" tabTitle="Force"></ion-tab>
    <ion-tab tabIcon="magnet" tabTitle="Force"></ion-tab>
  </ion-tabs> -->
</ion-content>