page-home {
  .scroll-content {
    background: white;
  }
  .dbs-color {
    background: #ed1c24;
  }

  .h-menu {
    border: 1px solid red;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-top: 10px;
    align-items: list-separator;

    .box {
      width: 25%;
      display: flex;
      align-items: stretch;
      text-align: center;
      box-sizing: border-box;
      padding: 0 0 10px 10px;

      &__p {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        background-color: #fff;
        padding: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
          0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        img {
          height: 50px;
          width: 50px;
        }
      }
      .menu-icon {
        font-size: 30px;
      }
      ion-icon {
        font-size: 30px;
      }
      &--label {
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
}
