page-chat-bot {
    .display-section {
        height: 90%;
        .chat {
            >* {
                margin: 1rem 0;
            }
            .profile {}
            .result {}
            .question {
                .profile {}
                .result {}
            }
            .answer {
                .profile {}
                .result {}
            }
        }
    }
    .input-section {
        height: 10%;
        input {}
        button {}
    }
}