page-transfer-details {
  .scroll-content {
    padding: 0 !important;
    background: #f8f8f8;
  }
    .user-info {
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
      
        img {
          height: 60px;
          width: 60px;
        }
        .name {
          padding-left: 10px;
          justify-content: center;
          display: flex;
          flex-direction: column;
          p {
            margin: 0;
          }
          .c-name {
            font-size: 18px;
          }
          .c-num {
            font-size: 16px;
          }
        }
      }
      
      .name-icon {
        border: 1px solid black;
        border-radius: 50%;
        padding: 14px;
      }
      
      .bank-list {
        .label.label-md {
          display: flex;
          img {
            max-width: 100%;
            border: 0;
            height: 30px;
            width: 30px;
            margin-right: 10px;
          }
          span {
            flex: 1;
          }
        }
        
        .fa-check-circle {
          color: darken(#fff, 10%);
          &.check {
            color: green;
          }
        }
        
      } 
}
